body {
    background-color: yellow;
}
#main-wrapper{
    width: 100% auto;
    margin: 5% auto;
}

    .grid-container {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: auto auto auto auto auto auto auto ;
     background-color:yellow ;
        padding: 10px;
        grid-row-gap: 20px;
       
      }
      
      .grid-container > a {
        background-color: #fda859 ;
        text-align: center;
        padding: 20px 0;
        font-size: 8px;
      border:   orangered 5px solid;
      box-shadow: 12px 12px 5px black

      }
    
      

h1, h2{
    color: black;
} 


#modal{
    display: none;
    z-index: 1;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 75%;
    background-color: #fff;
   
}


#modal img {
    margin: 0 25%;
    width: 50%;
    height: 75%;
}
