body { 
    background: linear-gradient(to bottom right, #fda859 0%,#e9ff24  100%);
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Poppins';
    font-size: 14px;
    color:black;
 

}
table{
   left:21%;
    background-color:  rgb(223, 255, 81);
    border: yellow 5px solid;
    box-align: center;
    position: fixed;
    box-shadow:12px 12px 5px black;
}

td{
    width: 100mm;
    margin: 20mm ;
    
    
}
#user-profile-wrapper{
    background:black;
    width: 50%;
    height: 50mm;
    right: 12px;
   border:white 3px solid;
   color :whitesmoke;
   padding-left: 50px;
   padding-top: 50px;
   
    
}
p{
    text-align:center
}
